body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.validation-container {
    width: 45%;
    height: 100vh;
    background: white;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.validation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.validation-header h1 {
    font-size: 24px;
    color: #333;
}

.validation-status {
    background-color: #0800FF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.validation-text {
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
}



.document-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.document-details p {
    margin: 0;
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
    color: #333;
}

select, input[type="file"], button {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0800FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0800FF;
}

#status {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

form {
    margin-top: 20px;
}

.terms-container {
    display: flex;
    margin-top: 20px;
    text-align: left;
}

.terms-container label{
    margin-left: 15px;
    margin-top: 0px;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

/* .visualizator{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.visualizator img{
    height: 40vh;
    width: auto;
    padding: 1vh;
}